body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color:white;
    background:#000d24d8 url(fundo.png);
    background-size:50% 100%;   
    max-width: 100%;
}
h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #6a915d;
    font-size: 300%;
    font-weight: bold; 
    margin: 0;
    padding: 2%;
    text-shadow: rgb(0, 0, 0) 0 0 10px;
}
h3{
    color: #3a5ec8;
}
p1{
    font-size: 1rem;
    color: #8d7e7e;
}
main{
padding: 1rem;
}
#j{
    padding-left: 22px;
    border-left:3px solid black;
}
#fim{
    padding-right: 22px;
    border-right:3px solid black;
}
.icon{
    width: 25px;
    height: 25px;
}
footer a{
   text-decoration: none;
   font-style: unset;
   color: white;
   cursor:alias;
}
container{
cursor:default;
border-top: 3px solid black;
}
container:hover{
    text-shadow: white 0 0 5px, rgb(2, 132, 34) 0 0 18px, rgb(3, 115, 3) 0 0 40px;
    color: black;
}
header img{
    width: 188px;
    height: 225px;
    border-radius: 20%;
    cursor: no-drop;
    box-shadow:black 0 0 10px, rgb(0, 88, 28) 0 0 15px;
}
button{
    cursor: pointer;
}
.item{
    color: #6a915d;
    text-shadow: rgb(3, 2, 2) 0 0 7px;
    font-size:1.5rem;
    font-weight:bold;
    background:linear-gradient(90deg,#292a2b 10%, #202128 100%);
    border-radius: 1rem;  
    border: none;
    margin:1rem;
    text-transform: uppercase;
    transition: all 300ms ease-out;
    width: 15rem;
    height: 4.7rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.788);
}
.item:hover {
    color: rgb(255, 247, 247);
    font-size: 1.7rem;
    width: 17rem;
    height: 5.5rem;
    background: linear-gradient(90deg, #1f1f1f 20%, #010203 50%);
    border: none;
    box-shadow:green 0 0 10px, black 7px 7px 15px;
    text-shadow: white  0 0 10px, rgb(3, 149, 3) 0 0 20px,  rgb(17, 142, 15)0 0 25px;
}
.topic {
    font-size: 140%;
    text-align:center;
    background-color:black;
    border-radius: 1rem;
    box-shadow: white  0 0 7px, rgb(1, 140, 1) 0 0 20px,  rgb(2, 72, 1)0 0 30px;
    width: 33%;
    height: 2%;
    position:relative; left: 33%;
    max-width: 100%;
    max-height: 0;
    overflow: hidden;
    padding: 0.1rem;
    transition: all 300ms ease;
}
.topic.show {
    max-height: 1000px;
    padding: 0.5rem;
}
.center{
    text-align: center;
}
ul{
    list-style: none;
    padding-left: 0%;
    margin: 0%;
}
li{
    display:inline-block;
    font-size: 0.8rem;
    margin-left: 4%;
    margin-right: 4%;
}
footer{ 
    background-color: #1d3329;
    color: white;
    box-shadow: white 0px 0px 7px, green 0px 0px 12px, greenyellow 0 0 16px;
    padding: 2%;
}
@media screen and (max-width: 768px) {
    .item {
        display: block; 
        margin-left: 0%;
        margin-right: 0%;
        text-align: center;
    }
    .break{
        display: inline-block;
    }
    .topic{
        width: 100%;
        position: static;
    }
    
}

@media screen and (min-width: 769px) {
    .item {
        display: inline-block; /* Exibe os itens do menu em linha */
    }
    .break{
        display: block;
    }
    
}
